<launch>
	<node pkg="gb_attention" type="attention_server_node" name="attention_server_node"/>

	<node pkg="gb_attention" type="attention_client_node" name="table_attention_client_node" output="screen">
		<param name="class_id" value="table" />
	</node>

	<node pkg="gb_attention" type="attention_client_node" name="zone_attention_client_node" output="screen">
		<param name="class_id" value="zone" />
	</node>

	<node pkg="gb_attention" type="attention_client_node" name="person_attention_client_node">
		<param name="class_id" value="person" />
		<param name="time_in_point" type="double" value="0.5" />
	</node>
</launch>
