<launch>

	<rosparam command="load" file="$(find gb_attention)/tests/sample_config.yaml" />

	<node pkg="bica_graph" type="graph_master_node" name="graph_master_node"/>
	<node pkg="bica_rqt_graph" type="bica_rqt_graph" name="bica_rqt_graph"/>
	<node pkg="gb_attention" type="attention_server_node" name="attention_server_node" output="screen"/>

	<node pkg="gb_attention" type="attention_client_node" name="table_attention_client_node" output="screen">
		<param name="class_id" value="table" />
	</node>

	<node pkg="gb_attention" type="attention_client_node" name="zone_attention_client_node" output="screen">
		<param name="class_id" value="zone" />
	</node>

	<node pkg="gb_attention" type="test_attention_node" name="test_attention_node" output="screen"/>
</launch>
